<!DOCTYPE html >
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns="http://www.w3.org/1993/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Titlu thymleaf'">TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <p th:text="'ce sa vezi'"></p>
        <div th:text="OOOO">TODO write content</div>
    </body>
</html>
